
.md-typeset {
    font-size: 18px;  /* 默认是 0.8rem，约 12.8px */
}

.md-typeset .admonition {
    font-size: 16px;  
}

h1 {
    font-size: 2.5em; 
}
/* 二级标题 */
h2 {
    font-size: 2em; 
}
/* 三级标题 */
h3 {
    font-size: 1.5em; 
}